*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
height: 100vh;
}
header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
nav ul:hover{
    display: inline-block;
    
    background-color: aliceblue;
    color: black;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}
p{
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
}
img{
    display: block;
    margin:auto;
    max-width: 320px;
}