* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw; 
}
main{
    display: relative;
    height: 100vh;
    background-color: black;
}
iframe{
    width: 376px;
    height: 780px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section#celular{
    width: 376px;
    height: 780px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}