*{
    margin: 0px;
    text-align: center;
}
td,tr{
    padding: 24px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 1px solid #000;
}
table{
    border-collapse: collapse;
    width: 500px;
    height: 400px;
    margin: auto;
}
td:hover {
    background-color: #ddd;
    vertical-align: top;
}
tfoot,th{
    color: white;
        background-color: #2e2e2e;
    padding: 24px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 1px solid #000;
}
td.number {
    text-align: right;
}
tbody>tr:nth-child(2n) {
    background-color: #cacaca;
}
tbody{
    background-color: aliceblue;
}
caption {
    font-size: 24px;
    font-weight: bold;
    color: #2e2e2e;
    margin-bottom: 20px;
}